<div id="page">
    <div id="content">
    <h1> Upload! </h1>
    <form action="/upload" method="post">
        <input type="file" name="taraball">
        <input type="text" name="projname">
        <input type="submit" value="Upload directory" name="submit">
    </form>
    <h1> Current files: </h1>
    <ol>
        <% FOREACH file IN files %>
            <li> <% file %> </li>
        <% END %>
    </ol>
    </div>
</div>
