<div id="page">
    <div id="content">
    <h1> Upload! </h1>
    <form action="/upload" method="post">
        <input type="file" name="tarball" required>
        <input type="text" name="projname" required>
        <input type="submit" value="Upload directory" name="submit">
    </form>
    <h1> Current directories: </h1>
    <ol>
        <% FOREACH file IN files %>
            <li> <a href="/view/<% file %>"> <% file %> </a></li>
        <% END %>
    </ol>
    </div>
</div>
